# Machine Learning in R: part 2

## This week focuses on improvement. Making our data cleaning code more efficient and using established tuning methods to improve the predictive ability of models we build.


## Step 1a. Cleaning and formatting the data (from last week)

Below is the code from the loading, cleaning and train/test split sections we went over last week. This is all we requre to get the data into the format needed to being training some machine learning models.

In [5]:
library(tidyverse)

housing = read.csv('./housing.csv')

housing$total_bedrooms[is.na(housing$total_bedrooms)] = median(housing$total_bedrooms , na.rm = TRUE)

housing$mean_bedrooms = housing$total_bedrooms/housing$households
housing$mean_rooms = housing$total_rooms/housing$households

drops = c('total_bedrooms', 'total_rooms')

housing = housing[ , !(names(housing) %in% drops)]

categories = unique(housing$ocean_proximity)
#split the categories off
cat_housing = data.frame(ocean_proximity = housing$ocean_proximity)

for(cat in categories){
    cat_housing[,cat] = rep(0, times= nrow(cat_housing))
}

for(i in 1:length(cat_housing$ocean_proximity)){
    cat = as.character(cat_housing$ocean_proximity[i])
    cat_housing[,cat][i] = 1
}

cat_columns = names(cat_housing)
keep_columns = cat_columns[cat_columns != 'ocean_proximity']
cat_housing = select(cat_housing,one_of(keep_columns))
drops = c('ocean_proximity','median_house_value')
housing_num =  housing[ , !(names(housing) %in% drops)]


scaled_housing_num = scale(housing_num)

cleaned_housing = cbind(cat_housing, scaled_housing_num, median_house_value=housing$median_house_value)


set.seed(19) # Set a random seed so that same sample can be reproduced in future runs

sample = sample.int(n = nrow(cleaned_housing), size = floor(.8*nrow(cleaned_housing)), replace = F)
train = cleaned_housing[sample, ] #just the samples
test  = cleaned_housing[-sample, ] #everything but the samples


train_y = train[,'median_house_value']
train_x = train[, names(train) !='median_house_value']

test_y = test[,'median_house_value']
test_x = test[, names(test) !='median_house_value']

head(train)

      NEAR BAY <1H OCEAN INLAND NEAR OCEAN ISLAND longitude   latitude
2418  0        0         1      0          0       0.06473791  0.4485767
9990  0        0         1      0          0      -0.74882545  1.6471053
13440 0        0         1      0          0       1.07295753 -0.7218613
1412  1        0         0      0          0      -1.25293526  1.0759315
7539  0        1         0      0          0       0.67865382 -0.8061329
4621  0        1         0      0          0       0.62874196 -0.7265431
      housing_median_age population  households  median_income mean_bedrooms
2418  -0.05081113        -0.08342596 -0.50882695 -1.2394168    -0.03648780
9990  -1.08374113         1.39212008  2.14071836 -0.7358959    -0.19291092
13440 -0.05081113         0.28656434  0.06136148  0.1404495    -0.18700644
1412   0.50538194         0.35897294  0.42492199  0.6344959    -0.11581168
7539  -0.20972344         1.03802435  0.21829408 -1.0991931    -0.03247975
4621   1.61776810         0.10024464  0.24706505 -0.6573622    -0.07763347
      mean_rooms median_house_value
2418  -0.4145713  56700
9990  -0.1004065 143400
13440  0.2732884 128300
1412   0.2741324 233200
7539  -0.5151724 110200
4621  -0.4598522 350900

## Step 1b. Cleaning - The tidyverse way! 

The code below does the same thing as the code above, but employs the tidyverse. I've pulled out the bare bones parts of Karl's 'Housing_R_tidy.r' script needed to get the data to where we want it (i.e. removed all the graphs head commands etc. Go to his original script to see the notes and visual blandishments).

I like this code more then my original version because:
1. It is easy to follow the workflow. magrittr makes it easy to see when one cleaning task ends and the next begins.
2. It is more concise.
3. The use of comments(#) after the pipes(%>%) looks professional and also makes the code more readable. Being able to share your code with others and have them understand it is very important!
4. It runs faster.

Note: in the tibble docs the function is listed as: as_tibble() not as.tibble() as first written. Oddly as.tibble() worked in my normal R deployment, but threw an error in the jupyter notebook :\ This confused me and I don't know what to make of it.

In [15]:
library(tidyverse)

housing.tidy = read_csv('housing.csv')

housing.tidy = housing.tidy %>% 
  mutate(total_bedrooms = ifelse(is.na(total_bedrooms), 
                                 median(total_bedrooms, na.rm = T),
                                 total_bedrooms),
         mean_bedrooms = total_bedrooms/households,
         mean_rooms = total_rooms/households) %>%
  select(-c(total_rooms, total_bedrooms))


categories = unique(housing.tidy$ocean_proximity) # all categories

cat_housing.tidy = categories %>% # compare the full vector against each category consecutively
  lapply(function(x) as.numeric(housing.tidy$ocean_proximity == x)) %>% # convert to numeric
  do.call("cbind", .) %>% as_tibble() # clean up
colnames(cat_housing.tidy) = categories # make nice column names

cleaned_housing.tidy = housing.tidy %>% 
  select(-c(ocean_proximity, median_house_value)) %>%
  scale() %>% as_tibble() %>%
  bind_cols(cat_housing.tidy) %>%
  add_column(median_house_value = housing.tidy$median_house_value)

set.seed(19) # Set a random seed so that same sample can be reproduced in future runs

sample = sample.int(n = nrow(cleaned_housing.tidy), size = floor(.8*nrow(cleaned_housing.tidy)), replace = F)
train = cleaned_housing.tidy[sample, ] #just the samples
test  = cleaned_housing.tidy[-sample, ] #everything but the samples
      
head(train)

Parsed with column specification:
cols(
  longitude = col_double(),
  latitude = col_double(),
  housing_median_age = col_double(),
  total_rooms = col_double(),
  total_bedrooms = col_double(),
  population = col_double(),
  households = col_double(),
  median_income = col_double(),
  median_house_value = col_double(),
  ocean_proximity = col_character()
)

  longitude   latitude   housing_median_age population  households
1  0.06473791  0.4485767 -0.05081113        -0.08342596 -0.50882695
2 -0.74882545  1.6471053 -1.08374113         1.39212008  2.14071836
3  1.07295753 -0.7218613 -0.05081113         0.28656434  0.06136148
4 -1.25293526  1.0759315  0.50538194         0.35897294  0.42492199
5  0.67865382 -0.8061329 -0.20972344         1.03802435  0.21829408
6  0.62874196 -0.7265431  1.61776810         0.10024464  0.24706505
  median_income mean_bedrooms mean_rooms NEAR BAY <1H OCEAN INLAND NEAR OCEAN
1 -1.2394168    -0.03648780   -0.4145713 0        0         1      0
2 -0.7358959    -0.19291092   -0.1004065 0        0         1      0
3  0.1404495    -0.18700644    0.2732884 0        0         1      0
4  0.6344959    -0.11581168    0.2741324 1        0         0      0
5 -1.0991931    -0.03247975   -0.5151724 0        1         0      0
6 -0.6573622    -0.07763347   -0.4598522 0        1         0      0
  ISLAND median_house_value
1 0       56700
2 0      143400
3 0      128300
4 0      233200
5 0      110200
6 0      350900